<html>
<head>
<title></title>
<style>
body { 	background: white url("../static/css/images/header-bg.png") repeat-x; 
padding: 0px;
margin: 0px;
font-family: Arial;
font-size: 14px;
}
img {margin: 0px 0px 0px 50px; padding: 0px;}
</style>
</head>
<body>

<img src="../static/css/images/header.png">

<div style="padding-left: 30px; width: 700px;">
<h1>About Vocap</h1>
I made this tool to help myself learn English vocabulary more effectively. I will be happy if you find it useful too.
<br>
<br>

</div>
</body>
</html>
