<html>
<head>
<title></title>
<style>
body { 	background: white url("../static/images/header-bg.png") repeat-x; 
padding: 0px;
margin: 0px;
font-family: Arial;
font-size: 14px;
}
img {margin: 0px 0px 0px 50px; padding: 0px;}
</style>
</head>
<body>

<img src="../static/images/header.png">

<div style="padding-left: 30px; width: 600px;">
<h1>How to use Vocap</h1>

<ol>
<li>Type a word into search text box and hit Enter or click on the Search  button.<br>
The search fully support only single word search for now, more complex search is somehow supported, but there's a lot of work to do..</li>
<li>If the word has been found, you will see the titles of matched
videos with the lines of captions containing the word. You can then click on the Play link at the end of each caption line to play this part in the YouTube player </li>
<li>That's it. :)</li>
</ol>


</div>
</body>
</html>
