<html>
<head>
<title></title>
<style>
body { 	background: white url("../static/images/header-bg.png") repeat-x; 
padding: 0px;
margin: 0px;
font-family: Arial;
font-size: 14px;
}
img {margin: 0px 0px 0px 50px; padding: 0px;}
</style>
</head>
<body>

<img src="../static/images/header.png">

<div style="padding-left: 30px; width: 700px;">

<h1>How to turn on YouTube closed captions.</h1>
1. Click on the Captions icon at the bottom of YouTube player.<br>
2. Select the English language (YouTube keeps your settings so it has to be set only once)
<br>
<br>
<img src="../static/images/turnoncc.png" style="height: 290px;">



</div>
</body>
</html>
