<html>
<head>
<title></title>
<style>
body { 	background: white url("../static/images/header-bg.png") repeat-x; 
padding: 0px;
margin: 0px;
font-family: Arial;
font-size: 14px;
}
img {margin: 0px 0px 0px 50px; padding: 0px;}
</style>
</head>
<body>

<img src="../static/images/header.png">

<div style="padding-left: 30px; width: 600px;">
<h1>What is it good for?</h1>

The original idea was to improve vocabulary learning. It is well known that <b>the more senses you engage the more words you remember</b>. So if you see (and hear) the real usage of the word, you will remember much more words and moreover you will be more likely able to use it in real situation.
<br>
<br>
But feel free to use it for any other purpose. If you do so, I will be happy if you let me know what you use it for, among athers to make the Vocap easier to use for your way of use.

</div>
</body>
</html>

